# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=muhammadawais65u@gmail.com
EMAIL_PASS=vuhm ekwg tkbg xhkp
EMAIL_FROM=Health Shield <noreply@healthshield.com>

# Admin Email (to receive notifications)
ADMIN_EMAIL=muhammadawais65u@gmail.com
